<form class="ui form">
  <div class="pusher">
    <div class="ui grid">
      <div class="three wide column">
      </div>
      <div class="eleven wide stretched column">

      <div class="ui three top attached steps">
        <div class="step">
          <i class="user icon"/>
          <div class="content">
            <div class="title">Personal Info</div>
          </div>
        </div>
        <div class="active step">
          <i class="truck icon"></i>
          <div class="content">
            <div class="title">Experience</div>
          </div>
        </div>
        <div class="disabled step">
          <i class="checkmark icon"></i>
          <div class="content">
            <div class="title">Complete Registration</div>
            <div class="description">search for jobs</div>
          </div>
        </div>
      </div>
    </div>
    <div class="two wide column">
    </div>
      <div class="three wide column">
      </div>
      <div class="eleven wide stretched column">
        <div class="ui basic segment">
          <h2 class="ui dividing header">Experience</h2>
          <div class="field">
            <label>Endorcements</label>
            <div class="field">
              {{textarea value=model.endorcements rows="4"}}
            </div>
          </div>
        </div>
      </div>
      <div class="two wide column">
      </div>
      <div class="three wide column">
      </div>
      <div class="eleven wide stretched column">
        <div class="inline fields">
          <label for="revoked">Has your CDL been suspended or revoked?:</label>
          <div class="field">
            <div class="ui radio checkbox">
              {{input type="radio" checked=false name=revoked}}
              <label>true</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              {{input type="radio" checked=false name=revoked}}
              <label>false</label>
            </div>
          </div>
        </div>
      </div>
      <div class="two wide column">
      </div>
      <div class="three wide column">
      </div>
      <div class="four wide stretched column">
        <div class="inline fields">
          <label for="vehcile">Type of Vehicle Operated:</label>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" name=tractor-trailer checked=tractor-trailer}}
            <label>Tractor/Trailer</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" name=straight-truck checked=straight-truck}}
            <label>Straight Truck</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="text" value=other placeholder="Other"}}
          </div>
        </div>
      </div>
      <div class="four wide stretched column">
        <div class="inline fields">
          <label for="vehcile">Type of Trailer:</label>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" name=van checked=van}}
            <label>Van</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=flatbed checked=flatbed}}
            <label>Flatbed</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=dump checked=dump}}
            <label>Dump</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="text" value=other placeholder="Other"}}
          </div>
        </div>
      </div>
      <div class="four wide stretched column">
        <div class="inline fields">
          <label for="vehcile">Type of Driving:</label>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" name=local checked=local}}
            <label>Local</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=regional checked=regional}}
            <label>Regional</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=road checked=road}}
            <label>Over the Road</label>
          </div>
        </div>
        <div class="inline fields">
          <label for="haz-mat">Haz-Mat:</label>
        </div>

        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              {{input type="radio" checked=false name=haz-mat}}
              <label>Yes</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              {{input type="radio" checked=true name=haz-mat}}
              <label>No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="one wide stretched column">
      </div>
      <div class="three wide stretched column">
      </div>
      <div class="thirteen wide stretched column">
        <div class="inline fields">
          <label for="vehcile">Regions Preference:</label>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=north-east checked=north-east}}
            <label>North-East</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=mid-west checked=mid-west}}
            <label>Mid-West</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=south-east checked=south-east}}
            <label>South-East</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=south-west checked=south-west}}
            <label>South-West</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=plains checked=plains}}
            <label>Plains</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            {{input type="checkbox" name=west-coast checked=isAdmin}}
            <label>West-Coast</label>
          </div>
        </div>
      </div>
      <div class="three wide stretched column">
      </div>
      <div class="nine wide column">
        <div class="fields">
          <div class="ui button" {{action "previous"}}>Previous</div>
        </div>
      </div>
      <div class="two wide column">
        <div class="fields">
          <div class="ui button primary" {{action "register"}}>Register</div>
        </div>
      </div>
      <div class="two wide stretched column">
      </div>
    </div>
  </div>
</form>
