{{nav-bar}}
<!-- <img class="ui fluid image" src="/images/landing-page-background.png"> -->
<style type="text/css">
  body {
    background-image: url("/images/trucks.jpg");
    background-size: cover;
  }
  .column {
    max-width: 500px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    margin-top: 15%;
    /*width: 100px;*/
    /*height: 100px;*/
  }
</style>
{{outlet}}
