<style type="text/css">
  .column {
    /*max-width: 500px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    margin-top: 5%;
    /*width: 100px;*/
    /*height: 100px;*/
  }
</style>
<div class="pushable">
  {{nav-bar-empty}} {{side-bar}}
  <form class="ui form">
    <div class="pusher">
      <div class="ui grid">
        <div class="three wide column">
        </div>
        <div class="nine wide stretched column">
          <div class="ui left icon input">
            <i class="search icon"></i> {{input type="text" value=model.search placeholder="Seach"}}
          </div>
        </div>
        <div class="two wide column">
          <div class="ui button primary" {{action "search"}}>Search</div>
        </div>
        <div class="two wide column">
        </div>
      </div>
    </div>
  </form>
</div>
