<div class="ui container grid">

  <div class="row">
    <div class="sixteen wide column ">
      <h2 class="ui dividing header">Company Info</h2>
      <div class="fields">
        <div class="eight wide field">
          <label>Company Name</label> {{input type="text" name="name" value=model.name placeholder="Company Name"}}
        </div>
        <div class="eight wide field">
          <label>Carrier Name</label> {{input type="text" name="carrierName" value=model.carrierName placeholder="Carier Name"}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column ">
      <div class="fields">
        <div class="eight wide field">
          <label>Website</label> {{input type="text" name="website" value=model.website placeholder="Website Address"}}
        </div>
        <div class="two wide field">
          <label>Years In Business</label> {{input type="number" name="yearsInBusiness" min="1" max="99" maxlength=2 value=model.yearsInBusiness placeholder="Years"}}
        </div>
        <div class="three wide field">
          <label>Company Power Units?</label> {{input type="number" name="companyPowerUnits" value=model.companyPowerUnits placeholder="Power Units #"}}
        </div>
        <div class="three wide field">
          <label>Operator Power Units?</label> {{input type="number" name="operatorPowerUnits" value=model.operatorPowerUnits placeholder="Power Units #"}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column ">
      <div class="fields">
        <div class="four wide field">
          <label>SCAC Code</label> {{input type="text" name="scacCode" value=model.scacCode placeholder="SCAC Code"}}
        </div>
        <div class="four wide field">
          <label>DOT Number</label> {{input type="text" name="dotNumber" value=model.dotNumber placeholder="DOT Number"}}
        </div>
        <div class="four wide field">
          <label>MC Number</label> {{input type="text" name="mcNumber" value=model.mcNumber placeholder="MC Number"}}
        </div>
        <div class="four wide field">
          <label>Standard Solo Miles/Day</label> {{input type="text" name="milesPerDay" value=model.milesPerDay placeholder="# Miles/Day"}}
        </div>
      </div>
    </div>
  </div>


</div>
