<div class="ui container grid">
  <div class="row">
    <div class="sixteen wide column">
      <h2 class="ui dividing header">Driving Preference</h2>
    </div>
  </div>

  <div class="row">
    <div class="six wide column">
      <div class="grouped fields">
        <div class="field">
          <label for="vehcile">Regions Preference:</label>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.regions.northEast checked=model.regions.northEast}}
            <label>North-East</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.regions.midWest checked=model.regions.midWest}}
            <label>Mid-West</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.regions.southEast checked=model.regions.southEast}}
            <label>South-East</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.regions.southWest checked=model.regions.southWest}}
            <label>South-West</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.regions.plains checked=model.regions.plains}}
            <label>Plains</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.regions.westCoast checked=model.regions.westCoast}}
            <label>West-Coast</label>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="grouped fields">
        <div class="field">
          <label for="vehcile">Type of Trailer:</label>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.dryVan checked=model.trailer.dryVan}}
            <label>Dry Van</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.flatbed checked=model.trailer.flatbed}}
            <label>Flatbed</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.refrigerated checked=model.trailer.refrigerated}}
            <label>Refrigerated</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.tanker checked=model.trailer.tanker}}
            <label>Tanker</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.tankerEndorced checked=model.trailer.tankerEndorced}}
            <label>Tanker Endorced</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.specialized checked=model.trailer.specialized}}
            <label>Specialized</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            {{input type="checkbox" name=model.trailer.drayage checked=model.trailer.drayage}}
            <label>Drayage</label>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="grouped fields">
        <div class="field">
          <label for="vehcile">Location Tracking:</label>
        </div>
        <div class="field">
          <div class="ui toggle toggle checkbox">
            {{input type="checkbox" name=model.electronicLogs checked=model.electronicLogs}}
            <label>Electronic Logs Used?</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle toggle checkbox">
            {{input type="checkbox" name=model.satelliteTracking checked=model.satelliteTracking}}
            <label>Satellite Training Tracking Used?</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
