<div class="ui container divided vertically padded grid">

  <div class="row">
    <div class="sixteen wide column ">
      <h2 class="ui dividing header">Primary Contact</h2>
      <div class="fields">
        <div class="eight wide field">
          <label>Name</label> {{input type="text" name="name" value=model.contact.name placeholder="Name"}}
        </div>
        <div class="eight wide field">
          <label>Title</label> {{input type="text" name="title" value=model.contact.title placeholder="Title"}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column ">
      <div class="fields">
        <div class="eight wide field">
          <label>Email</label> {{input type="text" name="email" value=model.contact.email placeholder="Email"}}
        </div>
        <div class="eight wide field">
          <label>Phone Number</label> {{input type="text" name="phone" value=model.contact.phone placeholder="Phone #"}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column ">
      <div class="field">
        <label>Address</label>
        <div class="fields">
          <div class="twelve wide field">
            {{input type="text" name="addressOne" value=model.contact.address.addressOne placeholder="Street Address"}}
          </div>
          <div class="four wide field">
            {{input type="text" value=model.contact.address.addressTwo placeholder="Apt #"}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column ">
      <div class="fields">
        <div class="six wide field">
          <label>City</label> {{input type="text" name="city" value=model.contact.address.city placeholder="City"}}
        </div>
        <div class="six wide field">
          <label>State</label>
          <select class="ui fluid dropdown" name="state" onchange= {{action "selectState" value="target.value"}}>
            <option value="">State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="four wide field">
          <label>Postal Code</label> {{input type="number" name="postalCode" value=model.contact.address.postalCode placeholder="postalCode"}}
        </div>
      </div>
    </div>
  </div>

</div>
