<div class="pusher">
  <form class="ui form" {{action "register" on="submit"}}>
    <div class="ui container grid">
      {{company-step3-validator}}
      <div class="row">
        <div class="sixteen wide column ">
          <div class="eleven wide stretched column">
            <div class="ui three top  attached steps">
              <div class="completed step">
                <i class="home icon" />
                <div class="content">
                  <div class="title">Company Info</div>
                </div>
              </div>
              <div class="completed step">
                <i class="map pin icon"></i>
                <div class="content">
                  <div class="title">Company Address</div>
                </div>
              </div>
              <div class="active step">
                <i class="info circle icon"></i>
                <div class="content">
                  <div class="title">Primary Contact Info</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{company.primary-contact model=model}}
    <div class="ui container grid">
      <div class="row">
        <div class="sixteen wide column ">
          <button class="ui left floated button" {{action "cancel"}}>Previous</button>
          <button class="ui right floated button submit primary">Register</button>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column ">
          <div class="ui error message"></div>
        </div>
      </div>
    </div>
  </form>
</div>
