<div class="pusher">
  <div class="ui grid">
    <div class="three wide column">
    </div>
    <div class="eleven wide stretched column">
      <div class="ui three top  attached steps">
        <div class="step">
          <i class="user icon" />
          <div class="content">
            <div class="title">Personal Info</div>
          </div>
        </div>
        <div class="disabled step">
          <i class="truck icon"></i>
          <div class="content">
            <div class="title">Experience</div>
          </div>
        </div>
        <div class="disabled step">
          <i class="checkmark icon"></i>
          <div class="content">
            <div class="title">Complete Registration</div>
            <div class="description">search for jobs</div>
          </div>
        </div>
      </div>
      <div class="ui basic segment">
        <form class="ui form">
          <h2 class="ui dividing header">Personal Info</h2>
          <div class="field">
            <div class="fields">
              <div class="six wide field">
                <label>Name</label>
                {{input type="text" value=model.firstName placeholder="First Name"}}
              </div>
              <div class="three wide field">
                <label>Middle</label>
                {{input type="text" value=model.middleName placeholder="Middle Name"}}
              </div>
              <div class="five wide field">
                <label>Last</label>
                {{input type="text" value=model.lastName placeholder="Last Name"}}
              </div>
              <div class="two wide field">
                <label>Date of Birth</label>
                {{input type="text" value=model.dob placeholder="Date of Birth"}}
              </div>
            </div>

          </div>
          <div class="field">
            <label> Address</label>
            <div class="fields">
              <div class="twelve wide field">
                {{input type="text" value=model.address.addressOne placeholder="Street Address"}}

              </div>
              <div class="four wide field">
                {{input type="text" value=model.address.addressTwo placeholder="Apt #"}}
              </div>
            </div>
          </div>
          <div class="four fields">
            <div class="four wide field">
              <label>City</label> {{input type="text" value=model.address.city placeholder="City"}}
            </div>
            <div class="field">
              <label>State</label>
              <select class="ui fluid dropdown" onchange={{action "selectState" value="target.value"}}>
              <option value="">State</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            </div>
            <div class="two wide field">
              <label>Postal Code</label>
              {{input type="text" value=model.address.postalCode placeholder="Postal Code"}}
            </div>

          </div>
          <div class="fields">
            <div class="sixteen wide field right">
              <div class="ui button" tabindex="0" {{action "cancel"}}>Cancel</div>
            </div>
            <div class="two wide field right">
              <div class="ui button primary" tabindex="0" {{action "nextStep"}}>Next</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
